/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.container{
    width: 75%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.square{
    background-color: #d3d3d36b;
    width: 80%;
    margin: 0 auto;
}

/* HEADER */
.header{
    height: 80px;
    line-height: 80px;
}

#logo-img{
    height: 60px;
    vertical-align: middle;
}

#logo-text{
    vertical-align: middle;
    font-size: 30px;
}

/* NAV */
.nav{
    width: 60%;
    margin: 0 auto;
    padding-top: 30px;
}


#bottom-1{
   width: 70px;
   height: 25px;
   border-radius: 5px;
   border-style: none;
   background-color: #5dbbe0;
   margin-bottom: 10px;
}

#bottom-2{
    width: 90px;
    height: 25px;
    border-radius: 5px;
    border-style: none;
    border: 1px solid gray;
 }
/* MAIN */
