/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #d3d3d36b;
    font-family: 'Roboto', sans-serif;
}

/* COMMON */
.container{
    width: 75%;
    margin: 0 auto;
}

.square{
    background-color: white;
    width: 70%;
    margin: 0 auto;
}

/* HEADER */
.header{
    background-color: white;
    height: 80px;
    line-height: 80px;
    margin-bottom: 20px;
}

#logo-img{
    height: 60px;
    vertical-align: middle;
}

#logo-text{
    vertical-align: middle;
    font-size: 30px;
}

/* NAV */
.nav{
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
}


#addTask{
   width: 70px;
   height: 25px;
   border-radius: 5px;
   border-style: none;
   background-color: #5dbbe0;
   margin-bottom: 10px;
   color: white;
}

#addSection{
    width: 90px;
    height: 25px;
    border-radius: 5px;
    border-style: none;
    background-color: white;
    border: 1px solid lightgray;
    color: lightgray;
 }

/* MAIN */
.main{
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
}
.ol{
    list-style: none;
}

li{
    margin: 10px;
}
.child-list{
    list-style: none;
}

.check{
    border: 1px solid green;
    border-radius: 100%;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    color: green;
}

.no-check{
    border: 1px solid red;
    border-radius: 100%;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    color: red;
}

.tag{
    border: 1px solid;
    padding: 3px 8px;
    font-size: 10px;
    border-style: none;
    border-radius: 10px;
    color: white;
}

.editorial{
    background-color: #5dbbe0;
}

.q1{
    background-color: #8d338d;
}

.recruting{
    background-color: #2e8b7f;
}

.mobile{
    background-color: orange;
}

.website{
    background-color: #da7d8c;
}

.sales{
    background-color: #428042;
}